@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: rgb(132, 156, 132);
}

@font-face {
    font-family: android;
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --desta: "Bebas Neue", 'cursive';
    --tecno:"android","cursive";
}
header {
    background-image: linear-gradient(to bottom, green,rgb(7, 60, 7));
    text-align: center;
    padding: 30px;
    
       color: white;
}
*{
    margin: 0;
    padding: 0;
}

header h1{
    font-family: var(--desta);
    
}
main{
    background-color: white;
    min-width:300px ;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 10px 29px 10px rgba(0, 0, 0, 0.692);
    border-radius: 0px 10px ;
}

nav{
    background-color: #076c07;
    margin-top: -25px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    padding-left: 7px;
    padding: 9px;
    font-family:Arial, Helvetica,Sans-serif;
}
nav a:hover{
    background-color: #94ed94;
    border-radius: 4px;
}
main img{
    width: 100%;
    
}
main p{
    margin:15px 0px ;
    text-align:justify ;
    text-indent: 20px;
    line-height: 8mm;
    font-family: Arial, Helvetica, sans-serif;

}
main a{
    text-decoration: none;
    background-image: linear-gradient( to right,rgb(106, 211, 106),transparent);
    padding-right: 10px ;
    color: black;
}
a.externo::after{
    content: '\00A0\1F517';}

main h2{
    font-family: var(--tecno);
    color: #023400;
    background-image: linear-gradient(to right, rgb(108, 202, 108), transparent);
    font-weight: normal;
    font-size: 1.3em;
}
main a:hover{
    text-decoration: underline;
}


main strong{
   color: #023400;
}

main h3{
    background-color: #009b00b6;
    margin: 0%;
    padding: 9px;
    color: rgb(0, 0, 0);

    
}
aside{
    background-color: #97ff92;
}
aside ul{
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    
}
aside abbr{
    text-decoration: none;
}
aside abbr:hover{
    text-decoration: underline;
}
footer{
    background-color: #63ff80;
    color: rgb(0, 2, 135);
}
footer a{ background-color: transparent;
    color: black;

}
main img.peq{
    max-width: 350px;
    display:block;
    margin: auto;

}
div.videe{
    background-color: #042c02;
    margin:0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div.videe > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 6px;
}
main h1{
    font-family: var(--tecno);
    color: #032a03b6;
}

